{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KorshChamp</title>
	<link rel="shortcut icon" href="images/038-github.png" type="image/png">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/aos.css"/>
	<script type="text/javascript" src="js/aos.js"></script>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	{% block content %}
		<div class="post">
			{% if post.published_date %}
				<div class="date">
					{{ post.published_date }}
				</div>
			{% endif %}
			<h1>{{ post.title }}</h1>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endblock %}
	




	<script type="text/javascript" src="js/script.js"></script>

	<script>
  		AOS.init();
	</script>




</body>
</html>
