<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>One Zone</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section>
		<div>
			<h1>Hello works</h1>
			<ul>
				<li><a href="#">ОПА</a></li>
				<li><a href="#">ОПАчки</a></li>
				<li><a href="#">ОПАна</a></li>
				<li><a href="#">ОПАсно</a></li>
				{% for post in posts %}
				<li><a href="#">{{ post.title }}</a></li>
				{% endfor %}
				<li><a href="#">ОПАсо</a></li>
				<li><a href="#">ОПАку</a></li>
			</ul>
			{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="#">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			{% endfor %}
			123
		</div>
	</section>




	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>